a {
  text-decoration: none;
  color: #0a66c2;
  font-weight: bold;
}
.img-container {
  height: 22rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .img-container {
    height: 13.8rem;
    width: 100%;
  }
}

#pic {
  position: absolute;
  bottom: -40px;
  left: 30px;
  border-radius: 50%;
  border: 5px solid white;
  height: 160px;
  width: 160px;
}
@media screen and (max-width: 768px) {
  #pic{
      bottom: -55px;
  }
}
#connect {
  background-color: #0a66c2;
  transition: 200ms ease-in-out;
  &:hover {
    background-color: rgb(15, 15, 177);
  }
}

#message {
  border: 1px solid #0a66c2;
  color: #0a66c2;
  transition: 200ms ease-in-out;
  &:hover {
    border: 1px solid rgba(15, 15, 177, 0.822);
    box-shadow: inset 0 0 0 3px rgba(15, 15, 177, 0.822);
    background-color: rgba(15, 15, 177, 0.082);
    color: rgb(15, 15, 177);
  }
}

.dots {
  transition: 200ms ease-in-out;
  &:hover {
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.822);
  }
}
