#basic-nav-dropdown.dropdown-toggle::after {
  display: none;
}
#icon,
#NavSpan {
  font-size: 13px;
  font-weight: normal;
}
#search {
  width: 50vw;
  max-width: 100%;
}
body,
html,
#root {
  min-height: 100vh;
  background-color: #eae6df;
  overflow-x: hidden;
  padding-bottom: 5%;
  margin-top: 30px;
}
#myNav {
  height: 55px;
}
@media (max-width: 991px) {
  #myNav {
    position: fixed;
    bottom: 0;
  }
}
@media (min-width: 992px) {
  #myNav {
    position: fixed;
    top: 0;
  }
}

.border-dashed {
  border-style: dashed !important;
}
