#basic-nav-dropdown.dropdown-toggle::after {
  display: none;
}
#icon,
#NavSpan {
  font-size: 13px;
  font-weight: normal;
}
#search {
  width: 50vw;
  max-width: 100%;
}
body,
html,
#root {
  min-height: 100vh;
  background-color: #eae6df;
  overflow-x: hidden;
}
#myNav {
  height: 55px;
}
